<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>box2</string>
		<key>angle</key>
		<integer>0</integer>
		<key>position</key>
		<dict>
			<key>x</key>
			<integer>508</integer>
			<key>y</key>
			<integer>175</integer>
		</dict>
	</dict>
	<dict>
		<key>type</key>
		<string>box2</string>
		<key>angle</key>
		<integer>0</integer>
		<key>position</key>
		<dict>
			<key>x</key>
			<integer>665</integer>
			<key>y</key>
			<integer>175</integer>
		</dict>
	</dict>
	<dict>
		<key>type</key>
		<string>box1</string>
		<key>angle</key>
		<integer>0</integer>
		<key>position</key>
		<dict>
			<key>x</key>
			<integer>584</integer>
			<key>y</key>
			<integer>244</integer>
		</dict>
	</dict>
	<dict>
		<key>type</key>
		<string>box1</string>
		<key>angle</key>
		<integer>90</integer>
		<key>position</key>
		<dict>
			<key>x</key>
			<integer>727</integer>
			<key>y</key>
			<integer>244</integer>
		</dict>
	</dict>
	<dict>
		<key>type</key>
		<string>circle</string>
		<key>angle</key>
		<integer>0</integer>
		<key>position</key>
		<dict>
			<key>x</key>
			<integer>650</integer>
			<key>y</key>
			<integer>315</integer>
		</dict>
	</dict>
	<dict>
		<key>type</key>
		<string>box1</string>
		<key>angle</key>
		<integer>90</integer>
		<key>position</key>
		<dict>
			<key>x</key>
			<integer>526</integer>
			<key>y</key>
			<integer>384</integer>
		</dict>
	</dict>
	<dict>
		<key>type</key>
		<string>box1</string>
		<key>angle</key>
		<integer>0</integer>
		<key>position</key>
		<dict>
			<key>x</key>
			<integer>727</integer>
			<key>y</key>
			<integer>384</integer>
		</dict>
	</dict>
	<dict>
		<key>type</key>
		<string>circle</string>
		<key>angle</key>
		<integer>0</integer>
		<key>position</key>
		<dict>
			<key>x</key>
			<integer>708</integer>
			<key>y</key>
			<integer>454</integer>
		</dict>
	</dict>
	<dict>
		<key>type</key>
		<string>box1</string>
		<key>angle</key>
		<integer>0</integer>
		<key>position</key>
		<dict>
			<key>x</key>
			<integer>622</integer>
			<key>y</key>
			<integer>524</integer>
		</dict>
	</dict>
	<dict>
		<key>type</key>
		<string>alien</string>
		<key>angle</key>
		<integer>0</integer>
		<key>position</key>
		<dict>
			<key>x</key>
			<integer>640</integer>
			<key>y</key>
			<integer>595</integer>
		</dict>
	</dict>
</array>
</plist>
